<!-- Filter -->
<div class="row filter justify-content-md-center">
  <div class="col-4">
    <input type="text" class="form-control" placeholder="Filter" aria-label="Username" aria-describedby="basic-addon1">
  </div>
</div>

<!-- table -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <a href (click)="sortTable('Length')">Length</a>
      </th>
      <th scope="col">
        <a href (click)="sortTable('date')">Status</a>
      </th>
      <th scope="col">
        <a href (click)="sortTable('date')">Date</a>
      </th>
      <th scope="col">
        <a href (click)="sortTable('start-Finish')">Start</a>
      </th>
      <th scope="col">
        <a href (click)="sortTable('start-Finish')">Finish</a>
      </th>
      <th scope="col">
        <a href (click)="sortTable('description')">Description </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pastSprint of currentpastsprint">
      <td>{{pastSprint.name}}</td>
      <td>{{pastSprint.status | titlecase}}</td>
      <td>{{pastSprint.createdAt | date: 'dd/MM/yyyy'}}</td>
      <td>{{pastSprint.startedAt | date: 'hh:mm:ss a'}}</td>
      <td>{{pastSprint.finishedAt | date: 'hh:mm:ss a'}}</td>
      <td>{{pastSprint.description}}</td>
    </tr>
  </tbody>
</table>

<div class="container tableContent" *ngIf="havePagination">
  <span class="per-pages"> </span>
  <ul class="pagination justify-content-end">

    <li class="page-item">
      <a class="page-link">1</a>
    </li>
    <li class="page-item">
      <a class="page-link">2</a>
    </li>

  </ul>
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link">1</a>
    </li>
    <li class="page-item">
      <a class="page-link">2</a>
    </li>
    <li class="page-item">
      <a class="page-link">Next</a>
    </li>
  </ul>
</div>

<!-- Button delete -->
<div class=" row justify-content-md-center" *ngIf="canDeleted">
  <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalCenter">Delete All</button>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="custom-header" style="text-align: center; margin-bottom: 1em;">Deletion is irreversible. Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container delete-text" style="margin-bottom: 1em;">
        <p>The only information concerning your user that we store are your past sprints. We do not store information about
          your user itself. </p>
        <p> Delete to eliminate all records. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="sortTable('date')">Yes</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Non</button>
      </div>
    </div>
  </div>
</div>