/* contenu du pagination*/
.pagination {
  display: inline-flex;
  padding-left: 15px;
}
.container.tableContent {
  text-align: right;
}
/* le filtre*/
.filter {
  padding-bottom: 20px;
  padding-top: 20px;
}
.per-pages::before {
  content: "items per pages:";
  color: gray;
}
.row.justify-content-md-center {
  padding-top: 50px;
}
