<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav-wrapper container">
    <a class="brand-logo" href="#" id="logo-container">Navbar</a>


    <div class="navbar-nav right  ">

      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="#">sprint</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">logout</a>
        </li>
      </ul>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


    </div>
  </div>
</nav>