<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div fxLayout="row" class="container ">
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div fxFlex="55%">
      <a class="brand-logo " [routerLink]="['']" id="logo-container">Sprint</a>
    </div>
    <div fxFlex="45%"></div>
  </div>

  <div class="collapse navbar-collapse  " id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sprints']" *ngIf="auth.isAuthenticated()">sprints</a>
      </li>
      <li class="nav-item" *ngIf="!auth.isAuthenticated()">
        <a class="nav-link " (click)="auth.login()">login</a>
      </li>
      <li class="nav-item" *ngIf="auth.isAuthenticated()">
        <a class="nav-link" (click)="auth.logout()">logout</a>
      </li>
    </ul>
  </div>
</nav>