<div class="container  gauge-css">
    <div class="row justify-content-center  py-3">

        <div class="gauge col-sm">
            <mwl-gauge [max]="100.00" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]=progress [animated]="true" [animationDuration]="0">
            </mwl-gauge>
        </div>

        <div class="btn-sto col-sm">
            <!-- Button trigger modal -->
            <button type="button" id="stop" (click)='pause() ' class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                STOP
            </button>
        </div>
        <div class="col-sm"></div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div fxlayout="column" fxlayoutalign="center center" fxlayoutgap="1.25em" style="flex-direction: column;
                box-sizing: border-box; display: flex; max-width: 100%;
                place-content: center; align-items: center;">
                    <h6 class="custom-header" style="text-align: center;">On hold. Cancel sprint?</h6>
                    <br>
                    <div class="button-close">
                        <button type="button" (click)='cancel()' class="btn btn-danger" data-dismiss="modal">Yes</button>
                        <button type="button" id="noCancel" class="btn btn-outline-success" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>


        </div>
    </div>