<div class='section no-pad-bot center' id='index-banner'>
  <div class='container'>
    <h1 class='center text-bienvenu'>
      Welcome to SprintJS
    </h1>
    <div class='row center'>
      <h5 class='col s12 light'>
        Sprint is a minimalist desktop time management application inspired by the Pomodoro Technique.
        <br> a sprint length, enter a brief description of the activity, and get things done.
      </h5>
    </div>
    <div class='row center'>
      <a href='' id='download-button' class='btn-now'>
        Sprint Now
      </a>
    </div>
  </div>
</div>